*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior:smooth;}
 p{
    font-family:'Montserrat',sans-serif;
    font-size:12px;
}

.head{
    width:100%;
    height:10px;
    height:auto;
    top:0;
    left:0;
    position:fixed;
    /* z-index:1000; */
}
.header{
    display:flex;
    justify-content: space-between;
    margin:15px;
   height:60px;
}
.header h1{
    font-size:18px;
     color:rgb(190, 25, 108); 
}
.links{
    display:none;
}
.togglebtn,.crossbtn{
    
    padding-right:8px;
    font-size: 1.5rem;
    cursor:pointer;
  color:rgb(179, 35, 107); 
font-size:18px;}
    .crossbtn{
        display: none;
    }
    .togglebtn.active{
        display:none;
    }
    .crossbtn.active{
        display:block;
    }
/* }
.toggle.active{
    display:none;
}
.crossbtn{
    display:none;
}
.crossbtn.active{
    display:block;
} */
.sidebar{
position:absolute;
    height:100vh;
    width:100%;
    /* background-color:rgb(232, 107, 151) ; */
    background-color: white;
    z-index:3;
    /* right:-450px; */
    transition:1s ease;
    display:none;
    
}
.sidebar a{
    font-size: 18px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:50px;
    line-height:2;
    text-decoration: none;
    color:rgb(16, 17, 18);
    transform: translateX(-20px);
    font-family:'Montserrat',sans-serif;
    
}
.sidebar.active{
    /* left:0; */
    display:block;
}
.sidebar.active a{
    animation:fadeSlideIn 0.5s forwards;
}
.sidebar.active a:nth-child(1){
    animation-delay:0.1s;
}
.sidebar.active a:nth-child(2){
    animation-delay:0.2s;
}
.sidebar.active a:nth-child(3){
    animation-delay:0.3s;
}
.sidebar.active a:nth-child(4){
    animation-delay:0.4s;
}
@keyframes fadeSlideIn{
    from{
        opacity:0;
        transform:translateX(-20px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}
.hero-image{
    position:relative;
    width:100%;
height:300px;
align-items: center;
    /* padding-top:50px; */
    background: url('hero-gym.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    z-index: 0;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    
}
.hero-image h1{
    position: absolute;
    top:30%;
      font-family: 'Poppins',sans-serif;
      line-height: normal;
}
.hero-image p{
    position: absolute;
    top:60%;
    line-height: 2;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#fff;
}
.hero-image::before{
position: absolute;
content:"";
left:0;
width:100%;
height:100%;
background:linear-gradient(to right,rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3)100%);
pointer-events: none;
}
.hero-image .button{
    position: absolute;
    top:73%;
    display: flex;
    flex-direction: row;
    gap:20px;
    width:200px;
    line-height: 1.5;
}
.join,.learn{
    padding:7px;
    color:white;
    border:1px solid white;
    
}
.join{
    background-color: transparent;
}
.learn{
    background-color: gray;
    border:1.5px solid rgb(183, 49, 71);
}
.box{
    display: grid;
    grid-template-columns:repeat(3,340px);
    gap:40px;
  justify-content: center; /* center horizontally */
  align-items: center;     
  /* text-align: center;       */
  /* margin-top: 40px; */
    margin-top: -30px;
  position:relative;
  z-index:2;
  background-color: #fff6f6;
  margin-left: 50px;
  margin-right: 50px;
  padding:15px;
   font-family: 'Poppins',sans-serif;
    
}
.box1 h2,.box2 h2,.box3 h2{
     font-family: 'Poppins',sans-serif;
     font-size: 20px;
}
.box1 p,.box2 p,.box3 p{
    font-family:'Montserrat',sans-serif;
    font-size: 12px;
}
.box1{
    
    display:flex;
    gap:20px;
  
}
.box2{
   
    display:flex;
    gap:20px;
}
.box3{
   
    display:flex;
    gap:20px;
}
.box1 i,.box2 i,.box3 i{
    font-size: 20px;
    color: rgb(222, 37, 111);
    background-color: pink;
    padding:10px;
    margin-top:10px;
}

.about-section{
  display:grid;
     grid-template-columns: repeat(2,350px); 
    gap:10px; 
     justify-content: center;  
    line-height: 2;
    margin-top: 40px;
    position:relative;
    
}
.about-section h3{
    font-family:'Poppins',sans-serif;
}
.about-section p{
    font-family:'Montserrat',sans-serif;
}
.about-section li{
    font-family:'Montserrat',sans-serif;
}
.about-section ul{
    list-style: none;
   
}
.about-text ul{
    
}
.about-section li i{
    color:rgb(238, 73, 128);
    background-color: rgb(238, 187, 204);
    font-size: 15px;
    margin-right: 5px;
   padding:2px;
}
.about-text{
     /* position:absolute;  */
    margin-top:17%;
    

}
.about-section .image img{
    position: absolute;
     top:6%; 
    left:19%;
    display:block;
    width:250px;
    height:230px;
    z-index:1;
    margin-top:4%;
    border:8px solid rgb(248, 248, 248);
    /* margin-right:100px; */
}
.about-section .border{
     top:2.5%;
    left:22%; 
     position: absolute; 
    height:290px;
    width:250px;
border:10px solid rgb(233, 24, 129);
z-index:-1;
 margin-top:3%; 
}
.learnmore{
    margin-top:20px;
    height:40px;
    width:120px;
    padding:3px;
      background-color: gray;
    border:2px solid rgb(183, 49, 71);
    margin-bottom: 20px;
    color:white;
}
/* main services  */
.main-service{
     background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
              url('background.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
     /* display: flex;
  flex-direction: column;  */
  align-items: center;     
  text-align: center;
}
.main-service .service{
   margin-top: 20px;
   background-color: #fff;
   color:black;
   border:none;
   padding:10px;
   font-size: 15px;
   
}
.main-service h3{
    margin-top: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size :clamp(20px,25px,30px);
    color:#fff;
}
.main-service .boxes{
    display:grid;
    grid-template-columns: repeat(3,270px);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
    
}
.servicebox{
    background-color: #fff;
    position: relative;
}
.servicebox img{
    height:200px;
width:250px;
z-index:1}
.servicebox h3,p{
    color:black;
font-size: 15px;

}

.servicebox i{
    position: absolute;
     border:2px solid #fff; 
    margin-top:-20px;
    color:#fff;
    /* height:20px;
    width:20px; */
    font-size: 20px;
    height:50px;
    width:50px;
    display:flex;
    justify-content: end;
    align-items: end;
    right:10%;
    bottom:25%;
    background-color: rgb(19, 19, 19);
    justify-content: center;
align-items: center;
border-radius: 50%;
z-index:3;
}
.servicebox p{
    font-size:12px;
    padding:10px;
    /* margin-left: 10px;
    margin-right: 10px; */
}
/* section 4 */
.choose-section{
    display:grid;
    grid-template-columns:repeat(2,350px);
    align-items:center;
    justify-content:center;
    gap:100px;
}
.choose-section .section1{
  
  gap:20px;
  
}
.choose-section .section1 .details{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:20px;
    margin-top:20px;
}
.icons{
     font-size: 20px;
    color: rgb(222, 37, 111);
    background-color: pink;
    padding:10px;
    margin-top:10px;
    border-radius:20%;
    
}
.icons i{
    text-align:center;
    align-items:center;
    justify-content:center;
    border-radius:20%;
    height:30px;
    width:30px;
}
.details-info p{
    font-size:13px;
}
.choose-section .section2 .divbox1,.divbox4{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* text-align:center; */
    align-items:center;
}
.choose-section .section2{
    display:grid;
    grid-template-columns:repeat(2,200px);
    margin-top:40px;
}
.choose-section .section2 .divbox1{
background-color:green;
height:200px;
width:200px;
}
.choose-section .section2 .divbox2{
background-color:gray;
height:200px;
width:200px;
}
.choose-section .section2 .divbox2 img{
    width:200px;
    height:200px;

}
.choose-section .section2 .divbox3{
background-color:pink;
height:200px;
width:200px;
}
.choose-section .section2 .divbox3 img{
    width:200px;
    height:200px;

}
.choose-section .section2 .divbox4{
background-color:blue;
height:200px;
width:200px;
}
/* section 5 */
.section5{
    margin-top:50px;
    /* background-color: #fff6f6; */
}

.section5 .trainers{
display:grid;
grid-template-columns:repeat(4,100px);
align-items:center;
justify-content:center;
gap:150px; 
margin-top:50px;
place-items:center;
background-color:white;
/* background-color: #fff6f6; */

}
.section5 .client-head1{
    align-items: center;;
}
.trainer-person{
    position:relative;
    height:180px;
    width:210px;
    box-shadow:0 1px 4px rgba(0,0,0,0.1);
padding-bottom:10px;
margin-top:10px;
}
.trainers .trainer-person img{
    z-index:-1;
    height:200px;
    width:210px;
}
.trainer-person .card{
    border-radius:5px;
    position:absolute;
    z-index:1;
    text-align:center;
    top:100%;
    left:2.6%;
    width:200px;
    margin-bottom:10px;
     background-color: white;
      box-shadow:0 1px 4px rgba(0,0,0,0.1);
    padding:10px;
}

.card p{
    color:rgb(214, 33, 123);
    font-size:12px;
    font-weight:500;
}

/* .clientreview{
margin-top:120px;
text-align:center;
background-color: rgb(240, 234, 223);
padding: 10px;
margin-left: 40px;
margin-right: 40px;
}
.clientreview .client-head1{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(16, 16, 16);
    background-color:white;
    display:inline-block;
}
.clientreview .client-head2{
    font-family:'Poppins',sans-serif;
    font-size:25px;
}
.clientreview .reviewbox{
    
    margin-top:10px;
    background-color:white;
    text-align: center;
    
}*/
.clientreview {
margin-top:120px;
text-align:center;
background-color: #fff6f6;
height:300px;
line-height: 40px;;
}

.client-head1 {
    margin-top:10px;
  color: black;
  background-color: white;
  font-size: 12px;
  display: inline-block;
}
.client-head2{
    font-family:'Poppins',sans-serif;
    font-size:25px;
    margin-top:10px;
    margin-bottom: 10px;
}
input[type="radio"] {
  display: none;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  text-align: center;
}

#slide1:checked ~ .slider .slide:nth-child(1),
#slide2:checked ~ .slider .slide:nth-child(2),
#slide3:checked ~ .slider .slide:nth-child(3),
#slide4:checked ~ .slider .slide:nth-child(4) {
  display: block;
}

.reviewbox {
    line-height:25px;
    
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width:60%;
  margin:0 auto;
  height:150px;
  font-size: 12px;
 
}
.reviewbox .client-name{
    font-size: 15px;
    font-weight: 600;
    color:#C2185B;
    margin-top:12px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #C2185B;
  color: white;
  font-size: 22px;
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.prev { left: 15%; }
.next { right: 15%; }

.prev:hover, .next:hover {
  background: #a3154a;
}
 .resource-section{
    background-color: #fff;
    text-align:center;
    
 }
 .latest-head1{
    font-size:12px;
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.93);
 }
 .latest-head2{
font-family: 'Poppins',sans-serif;
margin-top:15px;
margin-bottom:20px;
}
.latest-resource{
    display:grid;
    grid-template-columns: repeat(3,270px);
    justify-content:center;
    gap:40px;
    
}
.latest-img{
    position:relative;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
    border-top-left-radius:9px;
    border-top-right-radius: 9px;
}
.data-img p {
position:absolute;
top:80%;
left:15%;
right:20%;
background-color: #fff6f6;
height:32px;
font-size:12px;
gap:20px;
width:57px;
border-radius:20px;

}
.data-img  button{
   position:absolute;
   left:5%;
   top:9%;
   border:none;
   background-color: #a3154a;
   width:50px;
   border-radius:15px;
   padding:3px;
}
.data-img h2{
    position:absolute;
    top:80%;
}
.latest-img img{
    border-radius:12px;
    height:200px;
    width:240px;
}

.resource-data{
    width:270px;
    text-align:left;
    font-size:15px;
    padding:10px;
border-bottom-left-radius: 9px;
border-bottom-right-radius:9px;
    /*margin-left:35px;
    margin-right:35px;*/
box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
}
.resource-data .latest-head3{
    margin-top:10px;
    font-size:15px;
}
.resource-data p{
    font-size: 13px;
    margin-top:10px;
    margin-bottom:10px;
}
.resource-data button{
    margin:10px;
    color:#C2185B;
    background-color: #fff;
    border:none;
}

.gym-footer {
    margin-top:15px;
  background: #000;
  color: #fff;
  padding: 60px 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  margin-bottom: 15px;
  color: #C2185B; /* dark pink accent */
}

.footer-logo {
  font-size: 28px;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a,
.social-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-section ul li a:hover,
.social-links a:hover {
  color: #C2185B;
  padding-left: 5px;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 13px;
  color: #aaa;
}


@media(min-width:1000px) and (max-width:1500px){
        .togglebtn,.crossbtn{
            display:none;
        }
        .links{
            /* display:block; */
            /* display:flex;
            flex-direction:row;
            justify-content: center;
            text-align: center; */
            display:grid;
            grid-template-columns:repeat(4,100px);
            text-decoration: none;
            text-align:center;
            /* align-items:center; */
        }
        .links a{
            text-decoration: none;
            color:rgb(181, 19, 94);
            text-align: center;
        }
        .links a:hover{
            background-color:pink;
            
            border-radius:20px;
            height:30px;
            width:80px;
            text-align:center;
            justify-content: center;
            align-items:center;
            padding-top:5px;
            padding-bottom:5px;
        }
}

@media(max-width:768px){
    
.box{
    display: grid;
    grid-template-columns:repeat(1,300px);

  margin-top: -30px;
  position:relative;
  z-index:2;
  margin-left: 30px;
  margin-right: 30px;

  /* background-color: aliceblue; */
}
.box2,.box3{
    margin-top: 30px;
}
.box1 ,.box2 ,.box3 {
gap:15px;
height:100px;
}
.box3 i{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 11px;
}


.about-section{
    display:grid;
    grid-template-columns: repeat(1,300px);
    gap:300px;
    }
.about-section .image img{
    position: absolute;
    top:6%;
    left:10%;
    display:block;
    width:230px;
    height:210px;
    z-index:1;
    /* margin-right:100px; */
}
.about-section .border{
    top:3%;
    left:20%;
    position:absolute;
    height:265px;
    width:230px;
border:10px solid rgb(233, 24, 104);
z-index:-1;
}
.about-section {
    justify-content: center;
    align-items: center;
}
.main-service .boxes{
     display:grid;
    grid-template-columns: repeat(1,270px);
    gap:30px;
}
.main-service{
     background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
              url('background.jpg') no-repeat center center/cover;
              height:1150px;
}
.choose-section{
    display:grid;
    grid-template-columns:repeat(1,300px);
    align-items:center;
    justify-content:center;
    margin-top:50px;
    gap:50px;
}
.choose-section .section2{
    grid-template-columns:repeat(2,150px);
}
.choose-section .section2 .divbox1{
    height:150px;
    width:150px;
}
.choose-section .section2 .divbox2{
    height:150px;
    width:150px;
}
.choose-section .section2 .divbox2 img{
    height:150px;
    width:150px;
}
.choose-section .section2 .divbox3{
    height:150px;
    width:150px;
}
.choose-section .section2 .divbox3 img{
    height:150px;
    width:150px;
}
.choose-section .section2 .divbox4{
    height:150px;
    width:150px;
}
.section5 .trainers{
    grid-template-columns:repeat(1,100px);
    place-items:center;
    gap:80px;
}
.clientreview {
    height:420px;
}
.reviewbox {
    line-height:25px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width:65%;
  margin:0 auto;
  height:250px;
  font-size: 12px;
 
}

.prev { left: 6%;
 }
.next { right: 6%; }
.client-head2{
    margin-bottom: 10px;
    font-size:18px;
}
.latest-resource{
    grid-template-columns:repeat(1,270px);
}
.hero-image h1{
    padding:10px;
    position: absolute;
    top:28%;
      font-family: 'Poppins',sans-serif;
      line-height: normal;
      font-size:30px;
}
.hero-image p{
    position: absolute;
    top:60%;
    line-height: 2;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#fff;

}
.hero-image .button{
    position: absolute;
    top:70%;
    display: flex;
    flex-direction: row;
    gap:20px;
    width:200px;
    line-height: 1.5;
}
.about-section p{
    font-family:'Montserrat',sans-serif;
    padding:0 10px;
    margin-bottom: 16px;
    line-height: 1.7;
}
.about-section li{
    font-family:'Montserrat',sans-serif;
}
}
